
/* Task a & b: define general fonts, background-color, align, width*/
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   background-color: #ecebeb;
   max-width: 900px;
   align-items: center;
   margin: auto;
}

/* text-elements getting centered*/
.text-centered {
    text-align: center;
    margin: auto;
}

/* general img-layout except profile.html img */
.general-img {
    display: block;
    margin: auto;
    border-radius: 19px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    max-width: 900px;
}

/* specific profile.img implementation following*/
.profile-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-fieldset {
background-color: white;
max-width: 500px;
}

.profile-img {
    width: 280px;
    height: 280px;
    margin-right: 1cm;
}
/* specific profile.html implementation ending
----------------------------------------------*/

/* not allowed to use <style> using classes instead*/
.fieldset {
    border-style: dashed;
    background-color: white;
}

.hr {
    border-style: dashed;
}

.field-layout {
    padding-left: 1em;
    list-style-type: none;
    background-color: white;
}

.el-vert {
    display: flex;
}

.li-right {
    margin-right: 4cm;
    margin-left: auto;
    text-decoration: none;
    background-color: rgb(84, 84, 223);
    color: white;
}

.chat-timer {
    margin-right: 4cm;
    margin-left: auto;
    color: rgb(212, 211, 211);
}

.blue-links {
    color: blue;
    text-decoration: none;
}

.blue-links:hover {
    color:rgb(116, 116, 185);
    font-weight: bold;
}

.red-links {
    color: red;
    text-decoration: none;
}

.red-links:hover {
    color:salmon;
    font-weight: bold;
}

.blanco-links {
    text-decoration: none;
    color: black;
}

.textinput {
    border: solid 1px grey;
}



.messageinput {
    border: solid 1px grey;
    height: 30px;
    width: 75%
}

.messageinput::placeholder {
    font-size: 14px;
    padding-left: 12px;
}

.submitbutton {
    background-color: rgb(155, 155, 155);
    border: none;
    height: 34px;
    width: 20%;
    float: right;
    color: white;
    font-size: 14px;
}

.greybutton {
    background-color: rgb(155, 155, 155);
    border: none;
    height: 34px;
    font-size: 14px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.bluebutton {
    background-color: rgb(22, 127, 251);
    border: none;
    height: 34px;
    font-size: 14px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.formularinput {
    border: solid 1px grey;
    height: 20px;
}