<body>
    <h1>Profile Settings</h1>
        <form>
            <fieldset class="fieldset">
                <legend>Base Data</legend>
                <table class="text-centered">
                    <tr>
                        <td class="lefttable">
                            <label for="fristName">First Name</label> 
                        </td>
                        <td class="righttable">
                            <input class="formularinput" type="text" name="firstName" id="firstName" placeholder="Your name" [(ngModel)]="firstName">
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttable">
                            <label for="fristName">Last Name</label>
                        </td>
                        <td class="righttable">
                            <input class="formularinput" type="text" name="lastName" id="lastName" placeholder="Your surname" [(ngModel)]="lastName">
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttable">
                            <label for="coffeeOrTea">Coffe or Tea?</label>
                        </td>
                        <td class="righttable">
                            <select [(ngModel)]="coffeeOrTea" class="settingSelect" name="coffeOrTea" id="coffeeOrTea">
                                <option [ngValue]=1 [selected]="coffeeOrTea == 1">Neither nor</option>
                                <option [ngValue]=2 [selected]="coffeeOrTea == 2">Coffee</option>
                                <option [ngValue]=3 [selected]="coffeeOrTea == 3">Tea</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </fieldset> <br>
            <fieldset class="fieldset">
                <legend>Tell Something About You</legend>
                <textarea class="settingsTextArea"name="aboutMe" #aboutMe="ngModel" [(ngModel)]="description" id="aboutMe" cols="20" rows="10" placeholder="Leave a comment here"></textarea>
            </fieldset> <br>
            <fieldset class="fieldset">
                <legend>Preferred Chat Layout</legend>
                <p><input [(ngModel)]="layout" [value]=1 type="radio" name="inOrOutline" id="inline">Username and message in one line</p>
                <p><input [(ngModel)]="layout" [value]=2 type="radio" name="inOrOutline" id="outline">Username and message in separated lines</p>
            </fieldset>
            <table class="text-centered">
                <tr>
                    <td>
                        <button (click)="routeTo('friends')" class="greybutton">Cancel</button>
                    </td>
                    <td>
                        <button (click)="saveSetting()" class="bluebutton">Save</button>
                    </td>
                </tr>
            </table>
        </form>
</body>