<body>
    <h1>Friends</h1>
    <table>
        <tr>
            <td>
        <a [routerLink]="['/logout']" class="blue-links"> &lt;Logout </a>
        <b>|</b><a (click)="routeTo('settings')" class="blue-links"> Settings</a>
        </td>
    </tr>
    </table>
    <hr class="hr">
    <!--<ul class="field-layout"> <br>
        <div class="el-vert">
      <a href="chat.html" class="blanco-links"><li>Tom</li></a>
      <li class="li-right">&ensp;3&ensp;</li>
      </div> <br>
      <div class="el-vert">
      <a href="chat.html" class="blanco-links"><li>Marvin</li></a>
      <li class="li-right">&ensp;1&ensp;</li>
      </div> <br>
      <a href="chat.html" class="blanco-links"><li>Tick</li></a> <br>
      <a href="chat.html" class="blanco-links"><li>Trick</li></a> <br>
    </ul>-->
    <ul class="field-layout"> <br>
        <div *ngFor="let friend of friendsAdded; let nr = index">
            <div class="el-vert">
                <a (click)="routeTo('chat', friend.username)" class="blanco-links"><li>{{friend.username}}</li></a>
                <li class="li-right">&ensp;{{friend.unreadMessages}}&ensp;</li>
            </div>
            <br>
        </div>
    </ul>
    <hr class="hr">
    <h1>New Requests</h1>
    <ol>
        <div *ngFor="let request of friendsRequest; let nr = index">
            <li><a>Friend request from <b>{{ request.username }}</b></a></li>
            <button class="acceptButton" (click)="acceptRequest(request.username)"> Accept </button>
            <button class="declineButton" (click)="declineRequest(request.username)"> Decline </button>
        </div>
        
    </ol>
    <hr class="hr">
    <form action="friends.html" method="get" id="friendForm">

        <input class="messageinput" type="text" id="Add" name="Add" placeholder="Add Friend to List" [(ngModel)]="newFriend">

        <button class="addButton" (click)="addFriend()"> Add </button>
    </form>
    <div id="users">

    </div>
        
</body>
