.acceptButton, .declineButton {
    background-color: rgb(155, 155, 155);
    border: none;
    height: 34px;
    width: 10%;
    color: white;
    font-size: 14px;
    margin: 1%;
}

.addButton {
    background-color: rgb(155, 155, 155);
    border: none;
    height: 34px;
    width: 10%;
    color: white;
    font-size: 14px;
    margin: 1%;
}