<h1>Profile of Tom</h1>
    <p>
        <a (click)="routeTo('chat')" class="blue-links">&lt; Back to Chat</a>
        |
        <button type="button" class="red-links" (click)="deleteFriend()">Remove Friend</button>
    </p>
    <div class="grid">
        <div class="col1">
            <img src="./assets/images/profile.png" alt="profile" class="profile-img">	
        </div>
        <div class="col2">
            <fieldset class="profile-fieldset">
                <p>
                    {{ userData.description }}
                </p>
                <dt><b>Coffe or Tea?</b></dt>
                <dd>{{ userData.coffeeOrTea }}</dd>
                <dt><b>Name</b></dt>
                <dd>{{ userData.firstName }}</dd>
            </fieldset>
        </div>
    </div>